.cartDetail{
    border: 2px solid #fdba31;
    box-shadow: 2px 2px 2px 1px #37007536;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.cartDetail button{
    width: 200px;
    color: #370075;
    background-color: #fdba31;
    border: none;
    padding: 5px;
    margin: 14px auto;
    font-weight: 600;
    font-size: 20px;
}

.carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.carrito h1{
    text-align: center;
}

.carrito_vacio{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #370075;
    background-color: #fdba31;
    border: none;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 20px;
}

.carritoContenedor{
    text-align: center;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.carritoVacioMensaje{
    font-size: 30px;
    margin: 20px;
}

.carritoVacioBoton{
    display: block;
    color: #370075;
    background-color: #fdba31;
    border: none;
    margin: 10px auto;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.carrito_final{
    display: flex;
    width: 200px;
    justify-content: center;
    height: 50px;
    align-items: center;
    color: #370075;
    background-color: #fdba31;
    border: none;
    margin: 10px auto;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px; 
}

.total__botones{
    margin: 10px;
    font-size: 20px;
}