$color1:rgb(12, 1, 39);
$color2:rgb(2,2,2);
$color3:rgb(253, 253, 255);

.cartDetalle{
    display: flex;
    padding: 3%;
    text-align: center;

    p{
        padding: 1rem;
        margin-right: 2rem;
    }
}

.cartDetalle button{
    width: 40px;
    height: 40px;
    color: $color1;
    border: none;
    margin:auto ;
    font-weight: 600;
    font-size: 20px;
    border-radius: 50px;
}
.cartDetalle button:hover{
    background-color: #001eff4d;
    font-size: 0.8rem;
    border: #001eff;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    min-height: 700px;
}

.cart h1{
    text-align: center;
}

.carrito_vacio{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: $color1;
    border: none;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 20px;
}

.cartContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-evenly;
    background-color: $color3;
}

.carritoVacioMensaje{
    font-size: 30px;
    margin: 2rem;
    padding: 1rem;
}

.carritoVacioBoton{
    display: block;
    color: $color2;
    border: none;
    margin: 10px auto;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: $color3
}
.carritoVacioBoton:hover{
    border:#001eff;
    text-shadow: 2px 2px 5px #001eff27
}
.total p{
    text-align: right;
    margin-right: 2rem;
}
.checkoutCart{
    display: flex;
    width: 200px;
    justify-content: center;
    height: 50px;
    align-items: center;
    color: $color2;
    border: none;
    background-color: #efefef;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px; 
}

.buttons{
    display: flex;
    margin: 10px;
    font-size: 20px;
}