.itemDetail{
    border: 1px solid #1a1a1b34;
    box-shadow: 2px 2px 2px 1px #37007536; 
    display: flex;
    padding: 10px;
    margin: 30px auto;
    width: 800px;
    background-color: rgb(252, 252, 252);
}

.itemDetails{
    width: 300px;
    text-align: center;
    margin: auto;
}
.itemDetail__img{ 
    max-height: 400px;
}

.agregar{
    display: block;
    width: 90%;
    color: black;
    background-color: whitesmoke;
    border: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}

.itemDetail__precio{
    font-size: 30px;
    font-weight: 500;
}
.itemDetail a{
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    border: none ;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    font-weight: 600;
    text-decoration: none}
// .itemDetail a:hover{
//     background-color: rgba(32, 31, 31, 0.377);
// }

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-left: 20px;
p{
    padding-bottom: 1em;
}
}
.comprar button{
    border: none;
    border-radius: 40px;

}
.comprar button:hover{
    background-color: #001eff4d;
    font-size: 0.8rem;
    border: #001eff;
}