

h1{
    text-transform: uppercase;
    color:black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.listadoProductos{
    display: flex;
    flex-flow: wrap;
}

.swal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}
.swal-modal {
    background-color: #fafafa;
    color:black;
}

.swal-button{
    background-color:black;
    color:#fafafa
}
