$color1:rgb(55, 13, 58);
$color2:rgb(3, 8, 12);
$color3:rgb(253, 253, 255);

nav{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-image: url("../../fondo.png");
    background-position: center;
    color: $color3;
    height: 100px;

   
    li{ 
        display: inline-block;
        list-style-type: none;
        margin-top: 2em;

        a{
            text-decoration:none;
            color: $color3;
            padding: 2em;
        }
        

        
    }   
}
a:hover{
    color:#001eff;
}




